<div class="row">
  <div class="col-md-4 col-sm-offset-4">
    <h2>Sign up</h2>
    {{#if hasErrors}}
      <div class="alert alert-danger">
        {{#each messages}}
          <p>{{this}}</p>
        {{/each}}
      </div>
    {{/if}}
    <form action="/user/sign-up" method="post">
      <div class="form-group">
        <label for="email">email</label>
        <input type="text" name="email" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="password">password</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <button type="submit" class="btn btn-success">Sign Up</button>
    </form>
  </div>
</div>
