<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <form action="/upload-images" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="file">file</label>
        <input type="file" name="file" class="form-control">
      </div>
      <div class="center-align">
        <button type="submit" class="btn btn-success">Upload images</button>
      </div>
    </form>
  </div>
</div>
