<div class="container">
  <div class="row">
    <div class="col m8 offset-m2">
      <mz-collection>
        <mz-collection-item [avatar]="true">
          <img mz-avatar src="assets/images/background.jpg">
          <div class="title">{{profile.id}}</div>
          <div>{{profile.name}}</div>
          <div>{{profile.email}}</div>
          <a mz-secondary-content href="#!"><i mz-icon-mdi [icon]="'star'"></i></a>
        </mz-collection-item>
        <mz-collection-item [avatar]="true">
          <i mz-avatar mz-icon-mdi [icon]="'facebook'" class="indigo"></i>
          <div class="title">Facebook</div>
          <div>First Line</div>
          <div>Second Line</div>
          <a mz-secondary-content href="#!"><i mz-icon-mdi [icon]="'star'"></i></a>
        </mz-collection-item>
      </mz-collection>
    </div>
  </div>
</div>





<!--<div class="row">
  <div class="col m6 offset-m3">
    <div class="collection">
      <li class="collection-item">
        adlsakjdsalk dlas
      </li>
      <li class="collection-item">
        adlsakjdsalk dlas
      </li>
      <li class="collection-item">
        adlsakjdsalk dlas
      </li>
      <li class="collection-item">
        adlsakjdsalk dlas
      </li>
    </div>
  </div>
</div>-->