<footer class="page-footer">
   <div class="footer-copyright">
     <div class="container center-align">
     Site Admin Page Made By Remy Nguyen © 2017 Copyright Text
     </div>
   </div>
</footer>
